<a href="https://colab.research.google.com/github/sturu1/FRI/blob/master/2020_7_20_%EC%A0%90%EC%8B%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import matplotlib.pyplot as plt
#plt.style.use('fivethirteight')
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM, GRU, Bidirectional
from keras.optimizers import SGD
import math
from sklearn.metrics import mean_squared_error

In [7]:
def plot_predictions(test, predicted):
  plt.plot(test, color = 'red', label='Real IBM Stock Price')
  plt.plot(predicted, color='blue', label='Predicted IBM Stock Price')
  plt.title('IBM Stock Price Prediction')
  plt.xlabel('Time')
  plt.ylabel('IBM Stock Price')
  plt.legend()
  plt.show()

In [8]:
def return_rmse(test, predicted):
  rmse = math.sqrt(mean_squared_error(test, predicted))
  print('The root mean squared error is {}'.format(rmse))

In [23]:
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/IBM_2006-01-01_to_2018-01-01.csv', index_col = 'Date', parse_dates= ['Date'])
dataset.head()

             Open   High    Low  Close    Volume Name
Date
2006-01-03  82.45  82.55  80.81  82.06  11715200  IBM
2006-01-04  82.20  82.50  81.33  81.95   9840600  IBM
2006-01-05  81.40  82.90  81.00  82.50   7213500  IBM
2006-01-06  83.95  85.03  83.41  84.95   8197400  IBM
2006-01-09  84.10  84.25  83.38  83.73   6858200  IBM

In [35]:
training_set = dataset[: '2016'].iloc[:, 1:2].values
test_set = dataset['2017':].iloc[:, 1:2].values

In [36]:
training_set.shape

(2769, 1)

In [37]:
test_set.shape

(251, 1)